@import url('https://fonts.googleapis.com/css2?family=Borel&family=Mooli&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/background@2x.png");
    background-color: black;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

header {
    margin-top: 1rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    color: white;
    /* border: solid pink; */
}

.logoNome {
    height: 4rem;
    /* border: solid orangered; */
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    height: 4rem;
    /* border: solid red; */
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.icon {
    width: 2rem;
}

.meio{
    display: flex;
    align-items: center;
    width: 100vh;
}

.gerald{
    top: 6px;
    left: 229px;
    width: 384px;
    height: 531px;
    background: transparent url("./images/actor@2x.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.logo{
    top: 244px;
    left: 277px;
    width: 281px;
    height: 111px;
    background: transparent url("./images/logo@2x.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}